
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/image/favicon.ico">

    <title>Welcome to Bo-Uncle's Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">
    <style type="text/css">  
      body {
        height: 100%;
        background-image: url('../static/image/bg2.jpg');
        background-repeat:no-repeat;  
        background-position:0% 0%;  
        background-size:cover; 
        font:14px/1.25 Tahoma,Helvetica,Arial,'宋体',sans-serif;
      }
      
    </style> 
    
  </head>
  
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bo-Uncle's Blog</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">主页</a>
                <a class="nav-link" href="#">博客</a>
                <a class="nav-link" href="#">文章</a>
                <a class="nav-link" href="#">联系</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">欢 迎 光 临</h1>
            <p style="font-size:16px">
              学习编程是一个枯燥但是也很有意思的过程，它教会你如何更有效的去思考。
              如果你也和我一样，热爱编程，热爱生活，那么，欢迎你来到我的博客，希望我的博客对你有
              所启发，也希望你不吝赐教，让我们共同努力，共同进步！
            </p>
            <p class="lead">
              <a href="/blog" class="btn btn-lg btn-primary active">进入博客</a>
            </p>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>版权所有<a href="https://twitter.com/mdo">@bo-uncle</a>.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
